/*hex colors:
green: #008C31
red: #e74c3c*/

@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Henny+Penny|Quintessential');
@import url('https://fonts.googleapis.com/css?family=Quintessential');
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Bad+Script|Berkshire+Swash|Cookie|Give+You+Glory|Merienda|Tangerine');

h1,h2,h3,h4,h5,h6 {
  font-family: 'fredericka the great', cursive;
}

.section {
  height: 350px;
  background: #e74c3c;
  margin-top: -30px;
}

.section-green {
  background: #008C31;
}

.mobile-background {
  background: url('../images/test2.jpeg');
  background-size: cover;
  position: relative;
}

.background-div {
  top: 0px;
  position: fixed;
  z-index: -1000;
  width: 100%;
  display: none;
}

.nav {
  width: 100%;
  right: 0;
  background: black;
  position: fixed;
  padding: 10px;
  margin-top: -100px;
  padding: 20px;
  margin-top: -80px;
  z-index: 1;
}

.nav-img {
  height: 10%;
  display: block;
  margin: 0 auto;
}

.red-word {
  color: #e74c3c;
}

.main-headline {
  text-align: center;
  font-family: 'henny penny', cursive;
  font-family: 'Quintessential', cursive;
  font-size: 40px;
  margin-top: 2em;
  padding-top: 5em;
  padding-bottom: .5em;
  color: #008C31;
  color: #e74c3c;
}

.vid {
  margin: auto;
  display: block;
  width: 80%;
  padding-bottom: 40%;
}

.img {
  display: block;
  margin: auto;
  padding: 10%;
  width: 80%;
}

.top-img {
  margin-top: 0px;
  padding-top: 0px;
}

.section-p {
  color: white;
  font-family: 'Berkshire Swash', cursive;
  padding: 5%;
  font-size: 22px;
  vertical-align: middle;
  padding-top: 15%;
}

.holidays {
  color: #e74c3c;
  margin: 0px;
  font-size: 40px;
  padding: 5em 70px 70px 70px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@media (min-width: 500px) {

  .nav {
    margin-top: -100px;
  }

  .main-headline {
    font-size: 50px;
    padding-top: 2em;
    color: white;
  }

  .section {
    height: 380px;
  }

  .section-p {
    font-size: 28px;
    padding-top: 10%;
  }

  .red-word {
    color: #e74c3c;
  }
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .mobile-background {
    background-image: none;
  }

  .section {
    height: 400px;
  }

  .main-headline {
    padding-top: 1.5em;
  }

  .section-one {
   height: 100%;
  }

  .top-img {
    padding: 20px 10px 10px 10px;
    margin-bottom: .8em;
  }

  .vid {
    padding-bottom: 0px;
  }

  .img {
    width: 50%;
  }

  .nav {
    margin-top: -100px;
  }

  .background-div {
    display: block;
  }

  .red-word {
    color: #e74c3c;
  }

  .vid {
    width: 600px ;
  }

  .section-p {
    font-size: 35px;
    padding-top: 8%;
  }

  .holidays {
    padding-top: 5em;
    padding-bottom: 5em;
  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .main-headline {
    font-size: 50px;
  }

  .section-p {
    font-size: 35px;
    padding-top: 7%;
  }

  .img {
    width: 40%;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {
  .img {
    width: 30%;
  }
}

